
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>商品与销量数据可视化</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.4.1.min.js') }}"></script>
</head>
<body>
    <!--Step:1 为ECharts准备一个具备大小（宽高）的Dom-->
    <div id="main" style="height:550px;border:1px solid #ccc;padding:10px;"></div>

    <!--Step:2 引入echarts.js-->
    <script src="{{ url_for('static', filename='echars/echarts.min.js') }}"></script>

    <script type="text/javascript">
    <!--// Step:3 为模块加载器配置echarts的路径，从当前页面链接到echarts.js，定义所需图表路径-->
    require.config({
        paths: {
            echarts: './static',
        }
    });

    <!--// Step:4 动态加载echarts然后在回调函数中开始使用，注意保持按需加载结构定义图表路径-->
    require(
        [
            'echarts',
            'echarts/chart/bar',
            'echarts/chart/line',// 按需加载
        ],
        function (ec) {
            var myChart = ec.init(document.getElementById('main'));

            <!--// 设置-->
            var option = {
             title: {
                    text: '主机cpu负载监控' //图表标题
                },
                tooltip : {
                    trigger: 'axis'
                },

                legend: {
                    data:['库存量','销售量']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,

                xAxis : [
                    {
                        type : 'category',
                        axisLabel:{interval:0,rotate:-45},

                        data : []

                    }

                ],
            grid: { // 控制图的大小，调整下面这些值就可以，

             y2: 90,// y2可以控制 X轴跟Zoom控件之间的间隔，避免以为倾斜后造成 label重叠到zoom上
         },

                yAxis : [
                    {
                        type : 'value',
                        splitArea : {show : true}
                    }
                ],
                series : [
                    {
                        name:'库存量',
                        type:'bar',
                        data:[]
                    },
                    {
                        name:'销售量',
                        type:'line',
                        data:[]
                    }
                ]
            };

            $.ajax({
                cache: false,
                type: "POST",
                url: "/viewdata", //把表单数据发送到/viewdata
                data: null, // 发送的数据
                dataType : "json",  //返回数据形式为json
                async: false,
                error: function(request) {
                    alert("发送请求失败！");
                },
                success: function(result) {
                    //console.log(result);
                    for (i = 0, max = result.Goods_name.length; i < max; i++) { //注意：result.Goods_name.length
                        option.xAxis[0].data.push(result.sys_cpu1mload[i]);
                        option.series[0].data.push(parseFloat(result.sys_cpu5mload[i]));
                        option.series[1].data.push(parseFloat(result.sys_meminfo[i]));
                    };
                    // 为echarts对象加载数据
                    myChart.setOption(option);
                }
            });
            // 为echarts对象加载数据
            //myChart.setOption(option);
        }
    );
    </script>
</body>
</html>