<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        主机信息
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/x-admin.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}" media="all">
</head>
<body>
<div class="x-body">
    <blockquote class="layui-elem-quote">
        欢迎使用 rocket 管理平台！
    </blockquote>
    <div style="height:40px">
        <form action="/host/hostsDetail" method="GET">
            <select name="line" style="height:24px; width:70px">
                <option value="0">All</option>
                <option value="1">On-line</option>
                <option value="2">Offline</option>
            </select>
            <button type="submit">查询</button>
        </form>
    </div>

    <fieldset class="layui-elem-field layui-field-title site-title">
        <legend><a name="default">主机信息统计</a></legend>
    </fieldset>
    <table class="layui-table" style="text-align: center;">
        <thead>
        <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;" title="主机是否在线">STATUS</th>
            <th style="text-align: center;">主机名</th>
            <th style="text-align: center;">IP</th>
            <th style="text-align: center;" title="逻辑CPU个数">CPU核心数</th>
            <th style="text-align: center;">总内存</th>
            <th style="text-align: center;">磁盘</th>
            <th style="text-align: center;">服务器系统</th>
            <th style="text-align: center;">最后上线时间</th>
        </tr>
        </thead>
        <tbody id="aaa">
        {% for data in result %}
        <tr>
            <td>{{data.host_id}}</td>
            <td>{{data.host_status}}</td>
            <td title="点击查看主机详情">
                <a href="/host/hostInfo?hostId={{data.host_id}}">{{data.host_name}}</a>
            </td>
            <td>{{data.host_ip}}</td>
            <td>{{data.host_logic_cpu}}</td>
            <td>{{data.host_total_memory}}GB</td>
            <td>{{data.host_total_disk}}GB</td>
            <td>{{data.host_os_version}}</td>
            <td>{{data.host_computing_time}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center;">
        <div id="pager" class="pager clearfix">
            <!--            <a class="pg-first" page-id="1"></a>-->
            <!--            <a class="pg-prev" page-id="0" disabled="true"></a>-->
            <!--            <span class="current" page-id="1">1</span>-->
            <!--            <a page-id="2">2</a>-->
            <!--            <a page-id="2">3</a>-->
            <!--            <a page-id="2">4</a>-->
            <!--            <a page-id="2">5</a>-->
            <!--            <a page-id="2">6</a>-->
            <!--            <a page-id="2">7</a>-->
            <!--            <span class="els">...</span>-->
            <!--            <a class="pg-next" page-id="2"></a>-->
            <!--            <a class="pg-last" page-id="10"></a>-->
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='lib/layui/layui.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/x-admin.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.z-pager.js') }}"></script>

<script>
if ({{isAlert}} <= 0){
    layui.use('layer', function(){
        var layer = layui.layer;
        layer.msg('暂无服务器数据，是否跳转到添加主机界面', {
            time: 1000 * 10, //1.5s后自动关闭
            btn: ['YES', 'NO']
            ,yes:function(){
                window.location.href="/host/addHost";
            }
        });
    });
}

$("#pager").zPager({
	totalData: 50,
	htmlBox: $('#wraper'),
	btnShow: true,
	ajaxSetData: false,
	dataRender: function(data) {
		console.log(data + '---data-2');
		alert(data);
	},
});
<!--        var _hmt = _hmt || [];-->
<!--        (function() {-->
<!--          var hm = document.createElement("script");-->
<!--          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";-->
<!--          var s = document.getElementsByTagName("script")[0];-->
<!--          s.parentNode.insertBefore(hm, s);-->
<!--        })();-->













</script>
</body>
</html>