<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>hello templates,{{ name }}</h1>
    <p>
        {% if user %}
            姓名：{{ user.name }},年龄：{{ user.age }},住址：{{ user.addr }}
        {% endif %}
        {% for temp in number_list %}
            {{temp}}
        {% endfor %}
    </p>
    <p>
        {% for item in mysql_user %}
            {{item.id}}{{item.user_name}}{{item.user_pwd}}
        {% endfor %}
    </p>
    <p>
        {% if query1 %}
            {{query1.id}}{{query1.user_name}}{{query1.user_pwd}}
        {% endif %}
    </p>
</body>
</html>